<!DOCTYPE html>
<html>
<body>
    @RenderBody()
    <div id="root"></div>
    @*<script src="http://localhost:8081/bundle.js"></script>*@
    <script src="../ClientWeb/dist/bundleProd.js"></script>
</body>
</html>
